<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between">

  <!-- ALIGN LEFT -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <div class="logo"></div>
    <div class="logo-text">Angular Django Starter</div>
  </div>

  <!-- ALIGN RIGHT -->
  <app-usermenu fxLayout="row" fxLayoutAlign="end center"></app-usermenu>

</mat-toolbar>


<mat-sidenav-container>

  <mat-sidenav #sidenav="matSidenav" [autoFocus]="false" fxLayout="column" fxLayoutAlign="center start">
    <mat-nav-list>
      <a  mat-list-item [routerLinkActive]="['active']" routerLink="/home" (click)="toggleSidenav()">
        <mat-icon>home</mat-icon><span class="nav-caption">Home</span>
      </a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/about" (click)="toggleSidenav()">
        <mat-icon>info</mat-icon><span class="nav-caption">About</span>
      </a>
      <a mat-list-item [routerLinkActive]="['active']" routerLink="/contact" (click)="toggleSidenav()">
        <mat-icon>call</mat-icon><span class="nav-caption">Contact</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
