<div class="home">
  <h1>About</h1>

  <p>Angular Django Starter</p>
  <a href="https://stevaidis.mywire.org:4080/ste/Boilerplate-Django-Angular-Front" target="_blank">
    https://stevaidis.mywire.org:4080/ste/Boilerplate-Django-Angular-Front
    <mat-icon aria-hidden="false" aria-label="Example home icon" inline="true">launch</mat-icon>
  </a>
  <br><br>

  <p>Angular</p>
  <a href="https://angular.io" target="_blank">
    https://angular.io
    <mat-icon aria-hidden="false" aria-label="Example home icon" inline="true">launch</mat-icon>
  </a>
  <br><br>

  <p>Material UI</p>
  <a href="https://v11.material.angular.io" target="_blank">
    https://v11.material.angular.io
    <mat-icon aria-hidden="false" aria-label="Example home icon" inline="true">launch</mat-icon>
  </a>
  <br><br>

  <p>Flex Layout</p>
  <a href="https://github.com/angular/flex-layout" target="_blank">
    https://github.com/angular/flex-layout
    <mat-icon aria-hidden="false" aria-label="Example home icon" inline="true">launch</mat-icon>
  </a>
  <br><br>

  <p>Django</p>
  <a href="https://www.djangoproject.com" target="_blank">
    https://www.djangoproject.com
    <mat-icon aria-hidden="false" aria-label="Example home icon" inline="true">launch</mat-icon>
  </a>



</div>
