<div class="home">
  <h1>Angular Django Starter</h1>
  <p>A simple Angular app starter working with Django</p>

  <h2>Whats inside</h2>
  <ul>
    <li>Angular</li>
    <li>Material UI</li>
    <li>Flex Layout</li>
    <li>Forms with custom validators</li>
    <li>Session Cookie Authentication</li>
  </ul>
</div>
<br>
<br>
<br>
<div>
  <img src="assets/logo_angular.png" alt="angular" />
  <img src="assets/logo_materialui.png" alt="material" />
  <img src="assets/logo_sass.png" alt="sass" />
  <img src="assets/logo_django.png" alt="django" />
</div>
