<div class="field">
    <mat-form-field appearance="fill">

        <mat-label>{{ label }}</mat-label>

        <input matInput *ngIf="controlType === 'input'" [type]="inputType" [formControl]="control" />
        <textarea matInput *ngIf="controlType === 'textarea'" [formControl]="control"></textarea>

        <div *ngIf="showErrors()">
            <mat-error *ngIf="control.errors.required">
                Value is required
            </mat-error>
            <mat-error *ngIf="control.errors.email">
                Enter a valid email
            </mat-error>
            <mat-error *ngIf="control.errors.minlength">
                Value you entered is {{ control.errors.minlength.actualLength }} characters long, but it must be at aleast {{ control.errors.minlength.requiredLength }} characters
            </mat-error>
            <mat-error *ngIf="control.errors.maxlength">
                Value you entered is {{ control.errors.maxlength.actualLength }} characters long, but it cannot be longer than {{ control.errors.maxlength.requiredLength }} characters
            </mat-error>
            <mat-error *ngIf="control.errors.pattern">
                Invalid format
            </mat-error>
            <mat-error *ngIf="control.errors.nonUniqueUsername">
                Username is taken
            </mat-error>
            <mat-error *ngIf="control.errors.noConnection">
                Can't tell if username is taken
            </mat-error>
        </div>

    </mat-form-field>
</div>